body {
  background-image: url("/assets/stars.gif");
  color: white;
  overflow: hidden;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
  text-align: center;
}

.first-column {
  width: 500px;
}

.second-column {
  width: 50px;
}
